/* Google Fonts import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* Common Styles */
body {
  background-color: #9f9f9f;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 870px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
}

/* Top Players Style */
.player-title,
.blog-title {
  color: #562eff;
}
.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 68px;
}
.palyer-name {
  font-size: 15px;
  margin-left: 20px;
}
.horizontal-line {
  border: 1px solid #d1d1d1;
  margin-top: 37px;
  margin-bottom: 37px;
}

/* Start Blog Styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.blog-img img {
  width: 177px;
  margin-right: 16px;
}
.blog {
  display: flex;
  align-items: center;
}
.blog-content {
  font-size: 20px;
}

.blog-content h1 {
  font-size: 20px;
  margin-top: 8px;
}

.blog-content p {
}
.by {
  color: #9f9f9f;
  font-size: 16px;
}

/* Course Card style Start */
.course-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.card-title-img {
  width: 224px;
}
.card h1 {
  font-size: 21px;
}
.card p {
  color: #ed6b4f;
  font-size: 14px;
  margin-top: -10px;
}
.star-icon {
  width: 74px;
  margin-right: 14px;
}
.time {
  width: 94px;
  margin-left: 25px;
  margin-bottom: -7px;
}

/* --------------
Media Queries 
------------------*/

/* Mobile Device */

@media only screen and (min-width: 120px) and (max-width: 640px) {
  .container {
    width: 100%;
  }
  .top-players {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
  .player {
    flex-direction: column;
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    flex-direction: column;
  }
  .blog p {
    text-align: center;
  }

  .course-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    text-align: center;
  }
}

/* Tablet Devices */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .top-players {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .player {
    flex-direction: column;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    flex-direction: column;
  }
  .blog p {
    text-align: center;
  }
  .course-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    text-align: center;
  }
}

/* Monitor Scrren */
@media only screen and (min-width: 992) and (max-width: 1312px) {
  .container {
    width: 870px;
  }
  .top-players {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }

  .course-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
